body{
    background-color: #343a40;
    font-family: sans-serif;
}
a:hover {
    color: red;
}
/* Header and Nav */
.main-header{
    display: flex;
    background-color:#343a40;
    justify-content: space-between;
    color: blanchedalmond;
    align-items: center;
    font-size: 5vw;
    margin: auto;
    width: 85%;
}
.main-header ul{
    display: none;
}

.row ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    font-size: 0.9em;
    width: 85%;
    margin: auto;
}
.row p{
    color: burlywood;
}

nav ul li{
    padding: 2vw;
    
}
nav ul li a{
    color: #343a40;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2vw;
}


nav img{
    display: flex;
    right: 0px;
    height: 40px;
}
/* Main Section */

.showcase{
    color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.showcase ul{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.showcase li{
    padding: 20px;
}

.showcase img{
    width: 100%;
    height: auto;
}

.news-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:3vw;
    font-weight: bolder;
}
.news-1 img{
    max-width: 100%;
}


.news-1 a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bolder;
}

.news-1 a:hover{
    color: red;
}


.other-news img{
    max-width: 100%;
    height: max-content;
  }

  .other-news a{
   text-decoration: none;
    color: blanchedalmond;
  }
  .other-news a:hover{
      color: red;
  }

  /* Footer */

  .socialnetworks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: blanchedalmond;
    align-items: center;
}

  .socialnetworks ul{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 10px;
  }
  .socialnetworks ul li{
    padding: 10px;
}


    hr{
      border: 1px solid blanchedalmond;
      margin-left: 10px;
      margin-right: 10px;
  }

  .copy{
      display: flex;
      color: blanchedalmond;
      justify-content: center;
      margin-bottom: 20px;
  }

  .button {
    background-color: #f4511e;
    border: none;
    color: white;
    font-weight: bolder;
    padding: 16px 32px;
    border-radius: 5%;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
@media only screen and (min-width: 480px){
    .main-header img{
        display: none;
    }
    .main-header a{
        color: blanchedalmond;
    }

    .main-header ul{
        display: flex;
        width: 42%;
      }

    .other-news ul{
        display: flex;  
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: center;
        border-color: blanchedalmond;
        border:dashed;
        margin-top: 2%;
        justify-content: space-around;
        padding: 1.5em;
        font-size: 3vw;
    }
    .other-news ul li{
        flex: 35%;
        margin-right: 25px;
    }
    .other-news img{
        height:auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
      }
}

@media only screen and (min-width: 768px){
    .news-1{
        display: flex;
        flex-direction: row;
    }
    .news-1 img{
        margin-right: 20px;
        padding-bottom: 20px;
        width: 50%;
    }
    .main-news{
        width: 50%;
    }
    .other-news ul{
        font-size: 2vw;
    }
    .other-news img{
        height:auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
      }

    .other-news ul li{
        justify-content: center;
        align-items: center;
        flex: 25%;
        }
}

