body{
    background-color: #343a40;
    font-family: sans-serif;
}

/* Header and Nav */
.main-header{
    display: flex;
    background-color:#343a40;
    justify-content: center;
    color: blanchedalmond;
    font-size: 30px;
    margin-top: 20px;
}
ul{
    list-style: none;
    display: flex;
}
.row{
    display: flex;
    justify-content: center;
}
.row img{
    display: none;
}
nav ul li{
    padding: 20px;
    
}
nav ul li a{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bolder;
}
nav img{
    display: flex;
    right: 0px;
    height: 40px;
}
/* Main Section */

.showcase{
    color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.showcase ul{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.showcase li{
    padding: 20px;
}

.showcase img{
    width: 100%;
    height: auto;
}

.news-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:3vw;
    font-weight: bolder;
}

.main-img{
    width: 100%;
    height: auto;
}

.news-1 a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bolder;
}


.other-news ul{
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  border-color: blanchedalmond;
  border:dashed;
  margin-top: 2%;
  justify-content: space-around;
}

.other-news ul li{
    border:solid;
    margin-bottom: 5%;
    align-items: stretch;
    
}
.other-news img{
    width: 300px;
    height: auto;
  }

  .other-news a{
   text-decoration: none;
    color: blanchedalmond;
  }

  /* Footer */

  .socialnetworks {
    display: flex;
    justify-content: space-around;
    color: blanchedalmond;
    align-items: center;
    flex-wrap: wrap;
}

  .socialnetworks ul li{
      display: flex;
      padding: 10px;
  }

  footer hr{
      border: 1px solid blanchedalmond;
      margin-left: 10px;
      margin-right: 10px;
  }

  .copy{
      display: flex;
      color: blanchedalmond;
      justify-content: center;
      margin-bottom: 20px;
  }
@media only screen and (max-width: 576px){
    .row ul{
        display: none;
    }
    .row img{
        display: block;
    }
    .row{
        display:flex;
        justify-content: flex-end;
    }
    
}
